
<div class="container">
<h1>Sign Up Below:</h1>
    
        <form method="POST" action='/sign_up'>
    
        <h2>Username:</h2><input type="text" id="username" name="username"
        class="validate"><br>

        <h2>Password:</h2><input type="password" id="password" name="password"
        class="validate"><br>

        <input type="submit" value="Sign Up">
</div>