<h1>Create a New Route!</h1>
<!DOCTYPE html>
<html>
  <body>
    <form method="POST" action="/activities">
      <label for "name">Name: </label>
      <input type="text" id="name" name="name"
      class="validate" required>
      <br />
      <label for "grade">Grade: </label>
      <input type="text" id="grade" name="grade"
      class="validate" required>
      <br />
      <label for "location">Location: </label>
      <input type="text" id="location" name="location"
      class="validate" required>
      <br />
      <input type="submit" id="submit" value="Submit">
    </form>
  </body>
</html>