<br>
<div class="row">
   <div class="center">
   <div class="card green">
      <div class="card-content white-text">
         <span class="card-title">Welcome to Climbing Tracker!</span><br>
         <p>We are here to help you track all your Climbs! <br>All you have you have to do is sign up!</p>
      </div>
      <div class="card-action">
         <a class="white-text" href="/sign_up">Click Here to Sign Up</a>
         <a class="white-text" href="/login">Click Here to Login</a>
      </div>
   </div>
   </div>
</div>